### Python ###
__pycache__/
*.pyc

### Entornos Virtuales ###
.venv/

### Variables de Entorno (Seguridad) ###
.env
.env.*

### IDEs y logs ###
.vscode/
*.log

### BD de leyes en json — usar GitHub Releases
data/leyes_db.json